#pip>=23.3.1
langchain
langchain-community
#pysqlite3-binary
#streamlit==1.28.0
streamlit
requests
#llama_index
openai
#docx2txt
unstructured
unstructured[docx]
unstructured[pdf]
opencv-python-headless
chromadb
tiktoken
#tesseract
pytesseract==0.3.8

#PyPDF2==3.0.1
#PyMuPDF
#python-docx
#pypdf2

#libgl1-mesa-glx
#torch
#accelerate
#sentence_transformers
#streamlit_chat
#streamlit
#faiss-cpu
#tiktoken
#ctransformers
#huggingface-hub
#pypdf
#python-dotenv
#replicate
#docx2txt
