langchain 
pydantic
docarray
langchain-community
pysqlite3-binary
#streamlit==1.28.0
streamlit
#llama_index
openai
#docx2txt
unstructured 
unstructured[docx]
unstructured[pdf]
opencv-python-headless
chromadb == 0.3.29
tiktoken
